.container {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;

  @media print {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.dragging {
  background-color: #d6eaf8;
  border: 1px solid #85c1e9;
}

.draggable {
  display: flex;
  align-items: center;
}

.dragHandle {
  padding: 5px;
  padding-right: 12px;

  @media print {
    display: none;
  }
}
