.container {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
}

.dragging {
  background-color: #d6eaf8;
  border: 1px solid #85c1e9;
}

.draggable {
  display: flex;
  align-items: center;
}

.utils {
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-right: 12px;
}

.dragHandle {
  margin-bottom: 2px;
}
