.container {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 8px;
}

.taskList {
  padding: 8px;
  background-color: white;
  flex-grow: 1;
  min-height: 100px;
}

.draggingOver {
  background-color: skyblue;
}