.container {
  padding: 10px;
  //border: 1px solid lightgrey;
  //border-radius: 2px;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 3px 10px;
}

.taskList {
  padding: 10px;
  flex-grow: 1;
  min-height: 100px;
}

.draggingOver {
  background-color: skyblue;
}
