.container {
  display: flex;
  height: 100%;
}

.document.document {
  height: 100%;
  width: 100%;
}

.hideInPrint {
  @media print {
    display: none;
  }
}

.widgets.widgets {
  height: 100vh;
  @media print {
    display: none;
  }
}
